{% import "macros.html" as macros %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <aside class="sidebar">
        <ul class="categories">
            {% set category_taxonomy = get_taxonomy(kind="categories") %}
            {% for category in category_taxonomy.items %}
            <li><a href="{{category.permalink}}"> {{category.name}}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <div class="main-content--wrapper">
        <main class="main-content">
            {{ macros::article_list(pages=section.pages) }}
        </main>
    </div>
</body>


</html>