{% import "macros.html" as macros %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <aside class="sidebar">
        <ul class="categories">
            <li><a href="/">Home</a></li>
        </ul>
    </aside>

    <div class="main-content--wrapper">
        <main class="main-content">
            {{ page.content | safe}}
        </main>
    </div>
</body>


</html>